body {
    font-family: "Montserrat", system-ui;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    margin: 0;
    background-color:#000;
    color:#fff;
    overflow:hidden; 
}

.main {
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.sidebar {
    background-color: #000;
    color: white;
    width: 340px;
    border-radius: 1rem;
    margin-right: 0.5rem;
}

/* sidebar nav  */

a {
    text-decoration: none;
    color: #fff;
}

.nav {
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem ;
}

.nav-option {
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}

.nav-option:hover {
    opacity: 1;
}

.nav-option i {
    font-size: 1.25rem;
}

.nav-option a {
    font-size: 1rem;
    margin-left: 1rem;
}

/* your library */

.library {
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;

}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lib-option img {
    width: 1.25rem;
    height: 1.25rem;
}

.icons {
    font-size: 1.25rem;
    display: flex;
}

.icons i {
    opacity: 0.7;
    margin-right: 1rem;
}

.icons i:hover {
    opacity: 1;
}

/* library boxes  */

.box {
    background-color: #232323;
    height: 8rem;
    border-radius: 0.75rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 0.75rem 1rem;
}

.box-p1 {
    font-size: 1rem;
    font-weight: 600;
}

.box-p2 {
    font-size: 0.85rem;
    opacity: 0.9;
}

.badge {
    background-color: #fff;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}

/* main content */

.main-content {
    background-color: #121212;
    color: white;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
}

/* sticky nav  */

.sticky-nav {
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1re, 0;
    z-index: 10;
}

.sticky-nav-icons {
    margin: 0.75rem;
}

.sticky-nav-option {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-iteam {
    margin: 1rem;
}

.dark-badge {
    background-color: #000;
    color: white;
}

@media (max-width:1000px) {
    .hide {
        display: none;
    }
}

/* cards  */

.cards {
    padding: 0 1.5rem 0 1.5rem;
}

.card{
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem ;
    margin-left: 1.5rem;
    margin-top: 1rem;
}


.card-container {
    display: flex;
    flex-wrap: wrap;

}

.card img {
    width: 100%;
    border-radius: 0.5rem;
}

.card-title {
    font-weight: 600;
}

.card-info {
    font-size: 0.85rem;
    opacity: 0.8;
}

/* footer  */

.footer {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    width: 90%;
    height: 50%;
    border-top: 1px solid rgb(255, 255, 255);
    opacity: 0.4;
}
.music-player {
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
}

/* album  */

.album {
    width:25%;
}

.album-cover {
    display: flex;
}

.album-cover-infos {
    line-height: 0.5rem;
    padding-top: 0.5rem;
    margin-left: 0.5rem;
}

.album-cover img {
    height: 60px;
    width: 60px;
    margin: 0.5rem;
}

.album-cover-title {
    font-size: 0.85rem;
    font-weight: 600;

}

.album-cover-info {
    font-size: 0.75rem;
    opacity: 0.7;

}

.album-icon {
    display: flex;
    align-items: center;
    margin: 1.5rem;
}

.album-icon i {
    opacity: 0.7;
}

.album-icon i:hover {
    opacity: 1;
}


/* player  */

.player {
    width: 50%;
}


.player-control-icon {
    height: 1rem;
    margin-right: 1.75rem;
    opacity: 0.7;
    justify-content: center;
    justify-items: center;
}

.player-control-icon:hover {
    opacity: 1;
}

.player-control {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 0.5rem;
}

.time {
    font-size: 0.80rem;
}

.playback-bar {
    justify-content:center;
    align-items: center;
    display: flex;
    padding-bottom: 0.5rem;
}
.progress-bar {
    appearance: none;
    background-color: transparent;
    width: 70%;
    cursor: pointer;
    display: flex;
    justify-content:center;
    align-items: center;
}

.progress-bar::-webkit-slider-runnable-track {
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}

.progress-bar::-webkit-slider-thumb {
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;
}

/* controls  */

.controls {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.controls-icons i{
    opacity: 0.7;
    padding-right: 1rem;
}

.controls-icons i:hover {
    opacity: 1;
}